# Pebble build output
build/

# Waf build lock
.lock-waf_linux_build

# Local PebbleKit JS development configuration
src/pkjs/config.local.js

# Local PebbleKit JS configuration containing the ServerWatch API key
src/pkjs/config.local.js
